@mixin ar($animation){
  animation: $animation linear both;
  animation-timeline: scroll(root);
  animation-range: 0 300px;
}
.header{
  position: sticky;
  width: 100%;
  top: 0;
  @include ar(header-blur);
  .profile{
    width: 170px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(#769F98, 0.5);
    @include ar(profile-img);
    @include media(){
      width: 100px;
    }
  }
  .name{
    font-size: 2vw;
    line-height: 1;
    @include ar(profile-name);
    strong{
      font-size: 2.5vw;
      @include ar(profile-name);
    }
    @include media(){
      font-size: 6.5vw;
      @include ar(profile-name-mobile);
      strong{
        font-size: 6vw;
        @include ar(profile-name-mobile);
      }
    }
  }
  a{
    @include ar(colorText);
  }
}
ul{
  @include ar(list);
  
}

@keyframes profile-img {
  to {
    width: 50px;
  }
}
@keyframes profile-name {
  to {
    font-size: 1vw;
    color:#264B49;
  }
}
@keyframes profile-name-mobile {
  to {
    font-size: 5vw;
    color:#264B49;
  }
}
@keyframes header-blur{
  to{
    backdrop-filter: blur(10px);
    background-color: rgba(#DFE8E7, 0.5);
  }
}

@keyframes list{
  to{
    font-size: 20px;
  }
}
@keyframes colorText{
  to{
    color: #264B49;
  }
}