//generales
$white:#fff;
$black:#000;
$bg:#fff;
$txt:#000;
$gold:#FFC600;
$footer:#434040;
$grey:#434040;
$header:transparent;
$primary:#4C96C3;
$search:#ccc;
// $principal:#B53131;
$principal:#212854;
//site
//calculator
$bgCalculator:#DF0B17;
$btncalc:#1E1E1E;
//about
$text:#707070;
